.promo {
  background-color: #465DFF;
  padding: 0 70px;
}

.promo__container {
  background-image: url("../../images/promo-image.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 310px 304px;
  padding: 75px 0;
}

.promo__text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 640px;
}

.promo__title {
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  color: #FFFFFF;
  margin: 0 0 36px;
}

.promo__text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.16;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 0 330px 0 0;
  padding-bottom: 146px;
}

.promo__link {
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: #FFFFFF;
  border: solid 1px rgba(255,255,255,0.6);
  border-radius: 3px;
  padding: 10px 20px;
  align-items: center;
  cursor: pointer;
}

.promo__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .promo {
    padding: 140px 0 0;
  }

  .promo__container {
    background-position: top;
    padding: 352px 0 76px;
    text-align: center;
  }

  .promo__text-container {
    max-width: none;
    align-items: center;
  }

  .promo__title {
    font-size: 40px;
    line-height: 1.25;
    margin: 0 44px 22px;
  }

  .promo__text {
    line-height: normal;
    margin: 0 254px;
  }

  .promo__link {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    padding: 70px 0 30px;
  }

  .promo__container {
    background-size: 210px 206px;
    padding: 250px 0 0;
  }

  .promo__title {
    font-size: 30px;
    line-height: 1.26;
    letter-spacing: -1.2px;
    margin: 0 10px 24px;
  }

  .promo__text {
    margin: 0 30px;
    padding-bottom: 80px;
  }
}
