.root {
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: 'Inter', sans-serif;
  color: #000000;
  min-height: 100vh;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

@supports (font-variation-settings: normal) {
  .root { font-family: 'Inter var', sans-serif;
  }
}

