.search-form {
  padding: 55px 70px 49px;
}

.search-form__field {
  display: flex;
  border-bottom: 1px solid #E8E8E8;
  gap: 15px;
}

.search-form__input {
  color: #A0A0A0;
  background: #FFFFFF;
  background-image: url("../../images/search-icon.svg");
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: 6px center;
  border: none;
  flex: 1;
  box-sizing: border-box;
  padding: 15px 0 15px 49px;
  font-size: 28px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

.search-form__input:focus {
  outline: 1px solid #2BE080;
}

.search-form__input_error {
  color: #EE3465;
}

.search-form__input_error:focus {
  outline: 1px solid #EE3465;
}

.search-form__button {
  background-image: url("../../images/search-button.svg");
  background-size: 34px 34px;
  background-repeat: no-repeat;
  background-position: center;
  width: 34px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.search-form__button:not(:disabled):hover {
  opacity: 0.6;
}

.search-form__button:not(:disabled):active {
  transform: scale(0.9);
}

.search-form__error {
  margin-top: 15px;
  color: #EE3465;
  font-size: 14px;
  line-height: normal;
  text-align: center;
}

.search-form__checkbox-container {
  display: flex;
  justify-content: center;
  padding: 29px 0 0;
}

@media screen and (max-width: 1023px) {
  .search-form {
    padding: 71px 30px 62px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding: 83px 14px 50px;
  }

  .search-form__checkbox-container {
    padding: 42px 0 0;
  }

  .search-form__input {
    background-image: none;
    text-align: left;
    font-size: 18px;
    padding: 15px 0 15px 0px;
  }
}
