.profile-info {
  padding: 74px 70px 70px;
}

.profile-info__title {
  text-align: center;
}

.profile-info__form {
  margin: 123px auto 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 410px;
}

.profile-info__field {
  position: relative;
  border-bottom: 1px solid #E8E8E8;
  display: flex;
  flex-direction: row;
  text-align: start;
  padding-bottom: 15px;
  gap: 10px;
}

.profile-info__field:last-of-type {
  border-bottom: none;
  padding-top: 17px;
}

.profile-info__text {
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
  width: 141px;
}

.profile-info__input {
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  border: none;
  width: 410px;
  text-align: right;
}

.profile-info__input:focus {
  outline: 1px solid #2BE080;
}

.profile-info__input:read-only {
  outline: none;
}

.profile-info__input_active {
  border-radius: 5px;
  background-color: #F9F9F9;
}

.profile-info__input_error {
  color: #EE3465;
}

.profile-info__input_error:focus {
  outline: 1px solid #EE3465;
}

.profile-info__field-error {
  position: absolute;
  bottom: 0;
  right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: #EE3465;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile-info__message {
  margin: 0;
  font-size: 11px;
  line-height: normal;
  text-align: center;
}

.profile-info__message_type_error {
  color: #EE3465;
}

.profile-info__message_type_success {
  color: #2BE080;
}

.profile-info__links {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 205px;
}

.profile-info__button {
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.profile-info__button:disabled,
.profile-info__button:hover {
  opacity: 0.6;
}

.profile-info__button:not(:disabled):active {
  scale: 0.95;
}

.profile-info__link {
  text-decoration: none;
  text-align: center;
  color: #EE3465;
  font-size: 13px;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.profile-info__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .profile-info {
    padding: 236px 30px 269px;
  }

  .profile-info__form {
    margin-top: 96px;
  }

  .profile-info__links {
    margin-top: 194px;
  }
}

@media screen and (max-width: 767px) {
  .profile-info {
    padding: 70px 30px 40px;
  }

  .profile-info__form {
    margin-top: 80px;
  }

  .profile-info__button {
    font-size: 12px;
  }

  .profile-info__links {
    margin-top: 363px;
  }

  .profile-info__link {
    font-size: 12px;
  }
}
