.login {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 70px 30px;
  min-height: 100vh;
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 396px;
}

.login__title {
  margin-top: 40px;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

.login__error {
  margin: 0;
  color: #EE3465;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
}

.login__button {
  margin-top: 159px;
}

.login__text {
  margin: 16px 0 0;
  color: #A0A0A0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}

.login__text-link {
  color: #FF6838;
  text-decoration: none;
  cursor: pointer;
}

.login__text-link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .login {
    padding-top: 56px;
    padding-bottom: 30px;
  }

  .login__logo {
    align-self: center;
  }

  .login__title {
    margin-top: 50px;
    align-self: center;
  }

  .login__content {
    justify-content: space-between;
  }

  .login__form {
    flex: 1;
    margin-top: 80px;
  }

  .login__button {
    margin-top: auto;
  }

  .login__text {
    font-size: 12px;
    margin-top: 14px;
    line-height: 1.25;
  }
}
