.student {
  padding: 110px 70px 50px;
}

.student__title {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.88px;
  padding-bottom: 23px;
  border-bottom: 1px solid #000000;
}

.student__about {
  display: flex;
  flex-direction: row;
  gap: 270px;
  margin-top: 66px;
}

.student__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.student__name {
  margin: 0;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: -2px;
}

.student__job {
  margin: 18px 0 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.student__biography {
  margin: 26px 0 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  flex: 1;
}

.student__image-container {
  font-size: 0;
  min-width: 270px;
  min-height: 327px;
}

.student__image {
  border-radius: 10px;
  width: 270px;
  height: 327px;
  object-fit: cover;
}

.student__link {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  margin-top: 26px;
  font-size: 14px;
  font-weight: 500;
}

.student__link:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1023px) {
  .student {
    padding: 90px 50px 45px;
  }

  .student__about {
    gap: 50px;
  }

  .student__name {
    font-size: 40px;
    line-height: 1;
    letter-spacing: -1.6px;
  }

  .student__job {
    margin: 16px 0 0;
    font-size: 12px;
    line-height: 1.5;
  }

  .student__biography {
    margin: 20px 0 0;
    font-size: 12px;
    line-height: 1.5;
  }

  .student__image-container {
    min-width: 255px;
    min-height: 307px;
  }

  .student__image {
    border-radius: 10px;
    width: 205px;
    height: 307px;
    object-fit: cover;
  }
}

@media screen and (max-width: 767px) {
  .student {
    padding: 70px 14px 35px;
  }

  .student__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }

  .student__about {
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    margin-top: 60px;

  }

  .student__image-container {
    min-width: 292px;
    min-height: 352px;
  }

  .student__image {
    width: 292px;
    height: 352px;
  }

  .student__name {
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .student__job {
    margin: 20px 0 0;
    font-size: 11px;
    line-height: 1.45;
  }

  .student__biography {
    font-size: 11px;
    line-height: 1.45;
  }

  .student__link {
    margin-top: 40px;
  }
}
